<section class="container">
    <h3 class=" pt-3">LICENCIA COPYLEFT</h3>
    <p>Todos los componentes de este software llevan la siguiente licencia, excepto cuando se especifique lo contrario.</p>
    <p>Usted es libre de copiar, distribuir y comunicar públicamente, total o parcialmente el código de este software bajo los siguientes términos</p>
    <ul>
        <li>Reconocimiento:  Debe reconocer los créditos de la obra de la manera especificada por el autor o el licenciador.</li>
        <li>Compartir bajo la misma licencia. Si altera o transforma esta obra, o genera una obra derivada, sólo puede distribuir la obra generada bajo una licencia idéntica a ést</li>
    </ul>
    <p>Al reutilizar o distribuir la obra, tiene que dejar bien claro los términos de la licencia de esta obra</p>
    <p>Alguna de estas condiciones puede no aplicarse si se obtiene el permiso del titular de los derechos de autor</p>
    <p>Los derechos derivados de usos legítimos u otras limitaciones reconocidas por ley no se ven afectados por lo anterior.</p>
</section>
<section class="container">
    <h3 class=" pt-3">COPYLEFT LICENCE</h3>
    <p>All components of this software carry the following licence, unless otherwise specified.</p>
    <p>You are free to copy, distribute and communicate publicly, in whole or in part, the code of this software under the following terms</p>
    <ul>
        <li>Attribution: You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.</li>
        <li>Share Alike: If you remix, transform, or build upon the material, you must distribute your contributions under the same license as the original.</li>
    </ul>
    <p>When reusing or distributing the work, you must make clear to others the license terms of this work</p>
    <p>Any of these conditions may not apply if you obtain permission from the copyright holder.</p>
    <p>The rights derived from fair use or other limitations recognized by law are not affected by the above.</p>
